

body{  
background-color: black;
color: steelblue;
font-family: 'Raleway', sans-serif;
}

.img-fluid{
    max-width: 45%;
    height: auto;
    background: darkgrey
}

.vid{
    max-width: 45%;
    height: auto;
    
}

.card{
    max-width: 60%;
    height: auto;

}
.img-fluid2{
    max-width: 60%;
    height: auto;
}
.fab{
    height: 150%;
    width: auto;
    color: steelblue;
}
button{
    background-color: black;
    color: steelblue;
}







