.grid{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    gap: 5px;
    height: 90vh;
    background-image: url(typing.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: darkblue;
    text-align: center;
    font-family: 'coustard', serif;
}
header{
    grid-column: 1 / 4;
}

}
.navbar{
    border-style: solid;
    font-size: 2em ;
    grid-column: 1 / 4;
    background-color: steelblue;
}

article{
   
    font-size: 1.5em;
    grid-column: 1 / 4;
    text-align: center;
    color: rgb(184, 220, 250);
    padding: 20px;
    text-align: center;
    
}


footer{
    font-size: 2em;
    grid-column: 1 / 4;  
    text-align: center;
}
a{
    border-style: ridge;
    color:  darkgray;
}