*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-top: 5px;

   

}

body{
    background-image: url(Sauce-nero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px;
    font-family: 'Coustard', serif;
    font-size: 1.5em;
    color: lightsteelblue;
    

}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
}

.video{
    align-items: center;
}

